on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

name: Tests
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - uses: actions/checkout@v2
      - run: ./tests/txt/parse-config.test.sh
      - run: ./tests/yaml/parse-config.test.sh
