on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

name: Test parseconfig.sh
jobs:
  tests:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - uses: actions/checkout@v2
      - run: |
          wget https://github.com/mikefarah/yq/releases/download/v4.7.0/yq_linux_amd64.tar.gz -O - |\
          tar xz && sudo mv yq_linux_amd64 /usr/bin/yq
      - run: |
          bash ./tests/txt/parse-config.test.sh
        shell: bash
      - run: |
          bash ./tests/txt/parse-repos.test.sh
        shell: bash
      - run: |
          bash ./tests/yaml/parse-config.test.sh
        shell: bash
      - run: |
          bash ./tests/new-urls/parse-config.test.sh
        shell: bash

